<header class="header">
    <div class="container mx-auto lg:flex">
        <section class="header-start">
            {% if theme.theme_mod('custom_logo') %}
                {{ include('components/header/logo.html.twig') }}
            {% else %}
                {{ include('components/header/logo-text.html.twig') }}
            {% endif %}
        </section>
        <section class="header-end">
            <nav class="main-menu">
                <button type="button" class="hamburger js-hamburger" aria-label="Hamburger">
                    <i class="fal fa-bars"></i>
                </button>
                {{ include('components/header/navbar.html.twig') }}
            </nav>
        </section>
    </div>
</header>
